body{
    margin:0;
    width:100vw;
    background-color: antiquewhite;
    overflow-x: hidden;
}

.home-container{
    display: grid;
    height:100vh;
    width:100vw;
    grid-template-rows: repeat(3,1fr);
    background-color: antiquewhite;
    overflow-x: hidden;
}


h2{
    margin-right: 15vw;
    font-size: 35px;
    white-space: nowrap;
}

.header{
    height: 7vh;
    background-color: aqua;
    grid-area: 1,1,4,2,;
}
.title{
    height: 43vh;
    background-color: rgb(89, 92, 165);
    grid-area: 1,1,4,3,;

}

.directory{
    display: flex;
    height:50vh;
    background-color: yellow;
    flex-direction: column;
}

.digital{
    height:17vh;
    background-color: blue;
}
.electronics{
    height:16vh;
    background-color: rgb(22, 96, 28);
}
.fineArts{
    height:17vh;
    background-color: rgb(66, 66, 149);
}

.dir-hover:hover{
    background-color: white;
}

.centered{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
}

/* directory animation */
.move-animation1, .move-animation2 {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 100%;
    align-items: center;
}

.move-animation1 h2, .move-animation2 h2 {
    margin-right: 9vw;
    display: inline-block;
}


#page-container{
    display:flex;
    height:105vh;
    align-content: center;
    justify-content: center;
    background-color: rgb(87, 143, 193);
    flex-direction: column;
    
}

.fullDirLayout{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height:15vh;
    background-color: rgb(82, 171, 171);
   
    align-content: space-around;
    justify-content: center;
    
}

.imageSize{
    height: 13vh;
    width:auto;
    margin-top: auto;
    margin-bottom: auto;
}

.backBtn{
    background-color: bisque;
    display: flex;
    position: fixed;
    width: 7vw;
    height: 5vh;

    margin: 2vw;
    border-radius: 3px;
}

.backHover:hover{
    background-color: aliceblue;
}

.newDiv{
    height:80;
    background-color: bisque;
    width: 100vw;

}


.button{
    background-color: aqua;
    height:10vh;
    width:8vw;
}

#content-container{
    display:flex;
    background-color: rgb(200, 255, 174);
    height: 100vh;
    width:100vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 5vh;
}

.left-container{
    margin:1vw;
    padding:1vw;
    width:60vw;
    border: 1px solid black

}

.right-container{
    margin:1vw;
    padding:1vw;
    align-items: center;
    width:40vw;
    border: 1px solid black
}

.imageSizeContent {
    display: flex;                /* Enable flexbox */
    justify-content: center;      /* Center horizontally */
    align-items: center;          /* Center vertically */
    height: 40vh;                 /* Set a height of 40% of the viewport */
    overflow: hidden;             /* Ensure content stays within bounds */
}
